* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: lightblue;
}

#main {
    position: relative;
    height: 80%;
    width: 80%;
    margin: 10%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid gray;
    border-radius: 30px;

    background-color: aliceblue;

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.400), 0 -6px 8px rgba(0, 0, 0, 0.400), 6px 0 8px rgba(0, 0, 0, 0.400), -6px 0 8px rgba(0, 0, 0, 0.400);

}

h3 {
    position: absolute;
    top: 30px;
    left: 50px;

    height: 50px;
    width: 50%;
    padding: 8px;

    font-size: 20px;
    font-weight: 600;
    font-family: monstrett;
}

#counter{
    font-size: 20px;
    font-weight: 600;
    font-family: monstrett;
}

textarea {
    height: 200px;
    width: 80%;
    padding: 10px;

    position: absolute;
    top: 100px;

    border: 2px solid aliceblue;
    border-radius: 20px;
    outline-color: royalblue;
    resize: none;

    color: brown;
    font-size: 16px;
    font-weight: 500;
}